<style>
html {
    box-sizing: 'border-box';
   
  }
  body {
    background-image: url("background.png");
}
#input-parent {
    width: 160px;
    margin: 5% auto 50px;
    position: relative;
  }
  #players-input {
      border-radius: 50%;
      width: 160px;
      height: 160px;
      font-size: 60px;
  }
  #submit {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 110px;
      left: 110px;
  }
  #app {
      width: 60%;
      margin: 100px auto;
      
    
  }
  #base {
    height: 50%;
    background-color: rgba(256, 256, 256, 0.5)
  }
  
      .center {
        text-align: center;
      }
      ul {
          list-style: none;
          padding: 0;
      }
      img {
          display: inline;
          width: 200px;
          height: 100px;
      }
      .guess{
          display: inline;
          font-size: 60px;
          border: 1px solid black;
          padding: 0 25px;
          border-radius: 10%;
      }
      #footer {
          width: 100%;
          border-top: solid 2px black;
          background-color: white;
          position: fixed;
          bottom: 0;
      }
    </style>